.Primary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  &-One {
    background: orangered;
    grid-column: 2 / span 3;
    grid-row: 2;
    & h1 {
      text-align: center;
      font-size: 2rem;
    }
  }
}